<!-- <td-layout>
  <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav-list logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/" opened="true" mode="side">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button> -->
   <!--  <div td-sidenav-content>
      Sidenav content here
    </div> -->
   <!--  <div td-toolbar-content>
     <button mat-button tdLayoutNavListToggle>
       Toggle
     </button>
     <a routerLink="/Register" routerLinkActive="active"><button mat-button >
       Register
     </button></a>
     <a routerLink="/Tables" routerLinkActive="active"><button mat-button >
       Tables
     </button></a>
     <a routerLink="/Login" routerLinkActive="active"><button mat-button >
       Logout
     </button></a>
   </div>
     </td-layout-nav-list> -->
<!-- </td-layout> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
