<!-- <td-layout>
  <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/Register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/Tables" routerLinkActive="active">Tables</a></li>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav-list logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/" opened="true" mode="side">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>

    <div td-sidenav-content>
      Sidenav content here
    </div>
    <div td-toolbar-content>
      <button mat-button tdLayoutNavListToggle>
        Toggle
      </button>
    </div>
    Content goes here
  </td-layout-nav-list>
</td-layout> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
